<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Define the document's character set -->
    <meta charset="UTF-8" />
    <!-- Ensure proper rendering and touch zooming -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Set the viewport width to the device width and scale accordingly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title of the document -->
    <title>Create Store</title>
    <!-- Internal CSS styling for the document -->
    <style>
      body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      div {
        font-size: 24px;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <!-- Container div for displaying store information -->
    <div>
      <!-- Store Number -->
      Store Number: {{storeNumber}}
      <br />
      <!-- Store Name -->
      Store Name: {{storeName}}
      <br />
      <!-- Email -->
      Email: {{email}}
      <br />
      <!-- Phone Number -->
      Phone Number: {{phoneNumber}}
      <br />
      <!-- Profile Image URL -->
      Profile Image Url: {{profile}}
      <br />
      <!-- City -->
      City: {{city}}
      <br />
      <!-- Country -->
      Country: {{country}}
      <br />
      <!-- Zip Code -->
      Zip Code: {{zipCode}}
    </div>
  </body>
</html>
