<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Store</title>
    <style>
      body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      div {
        font-size: 24px;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <div>
      <h3>Your account and store created successfully.</h3>
      <br />
      <br />
      Store Number: {{storeNumber}}
      <br />
      Store Type: {{storeType}}
      <br />
      Name: {{name}}
      <br />
      Email: {{email}}
      <br />
      Role: {{role}}
      <br />
      Mobile Number: {{mobileNumber}}
      <br />
    </div>
  </body>
</html>
